.wrapper {
    margin: 80px;
    margin-top: 10px;
    position: relative;
}

.map {
    height: 500px;
}

.spaceLeft {
    margin-left: 40px;
}

.spaceTop {
    margin-top: 20px;
}

.spaceY {
    margin-top: 30px;
    margin-bottom: 30px;
}

.header {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: rgb(87, 87, 87);
    margin-bottom: 5px;
    text-decoration: underline;
}

.subHeader {
    font-weight: bold;
    font-size: 20px;
    color: rgb(87, 87, 87);
    margin-bottom: 10px;
}

.infoLabel {
    font-size: 20px;
    margin-bottom: 15px;
    color: dodgerblue;
}

.toast {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    background: #ffff00;
}
